*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-image: url("https://i1.faceprep.in/ProGrad/guess-number-bg.png");
    background-color: blueviolet;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    text-align: center;
    width: 400px;
    font-size: 5em;
    font-weight: 600;
    margin-bottom: 100px;
    letter-spacing: 3px;
    color: white;
    text-transform: uppercase;
}
.submit{
    width: 150px;
    height: 50px;
    background-color: orangered;
    color: white;
    text-align: center;
    line-height: 50px;
    /* font-weight: 600; */
    font-size: 1.2em;
    letter-spacing: 3px;
    border-radius: 4px;
    border: 2px solid white;
    cursor: pointer;
    
}
h1{
    /* width: 500px; */
    text-align: center;
    margin-top: -100px;
    margin-bottom: 50px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 70%;

    
}
#lives{
    color: white;
}
.inputitem{
    display: flex;
    margin-bottom: 50px;
}
input{
    width: 200px;
    height: 40px;
    padding-left:5%;
    border-radius: 3px;
    border: none;
}
.button{
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: orangered;
    text-align: center;
    color: white;
    margin-left: 30px;
    border: 2px solid white;
    border-radius: 3px;
    cursor: pointer;
}
#message{
    /* display: inherit; */
    margin-top: 50px;
    font-size: 1.6em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
}
p{
    text-align: center;
    font-size: 4em;
    color: white;
    text-transform: uppercase;
    margin-bottom: 50px;
}